@*@model IEnumerable<Shauli.Models.Posts>*@

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@{
    ViewBag.Title = "Index";
}

<section id="search">
    <form>
        <p>
            <!--DatePicker Jquery Script-->
            <script>
               $(function () {
                   $("#datepicker").datepicker();
                   $("#datepicker").datepicker("option", "dateFormat", "dd-mm-yy");
                   $("#datepicker").datepicker("option", "showAnim", "slide");
                  // $("#datepicker").val("@ViewBag.DateFilter");
                  });
            </script>
            <label>
                Search by date:<input type="text" name="dateFilter" id="datepicker" >
            </label>
            <label>
                <input type="text" name="name" placeholder="Author name" >
            </label>
            <label>
                <input type="text" name="text" placeholder="Free words" >
            </label>
            <label>
                <input type="submit"  value="Search">
            </label>
        </p>
        <p>
            @*Minimum comments:
            <input type="range" name="commentsNum" min="0" max="10" value="@ViewBag.CommentsNumFilter">*@
            
        </p>

    </form>
</section>
@if (ViewBag.Posts!=null)
{
    <label>No Data Found</label>
}
@foreach (var post in ViewBag.Posts)
{
    //set the paragrapshs to substrings
    var textLength1 = post.PostContent.IndexOf('.', post.PostContent.Length / 4) + 1;
    var textLength2 = post.PostContent.IndexOf('.', post.PostContent.Length * 3 / 4) + 1 - textLength1;
    var subtxt1 = post.PostContent.Substring(0, textLength1);
    var subtxt2 = post.PostContent.Substring(textLength1 + 1, textLength2);
    var subtxt3 = post.PostContent.Substring(textLength2 + 1);
    <section>
        <article class="blogPost">
            <header>
                <h2>@post.Title</h2>
                <p>

                    by <a href="@post.AuthorURL">@post.AuthorName</a>
                    - <a href="#comments">@post.Comments.Count comments</a>
                    <a href="~/?dateFilter=@post.PostDate.ToShortDateString()&name=&text="> @post.PostDate</a>
                </p>
            </header>
            <div>
                <p>@subtxt1</p>
                @if (!string.IsNullOrWhiteSpace(post.ImagePath))
                {
                    <img src="@post.ImagePath" />
                }
                <p>@subtxt2</p>
                @if (!string.IsNullOrWhiteSpace(post.VideoPath))
                {                 
                    <video controls>
                        <source src="@post.VideoPath" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                }
                <p>@subtxt3</p>
            </div>
        </article>
    </section>

    <section id="comments" class="commentSection">
        <h3>Comments</h3>
            @foreach (var comment in post.Comments)
            {
                <article>
                    <header>
                        <h4>@comment.Title</h4>
                        <p>
                            <a href="@comment.AuthorURL">@comment.AuthorName</a> |
                            @comment.CommentDate
                        </p>
                    </header>
                    <p>@comment.CommentContent</p>
                </article>
            }
    </section>

    using (Html.BeginForm("CreateComment", "PostsToShow", FormMethod.Post))
    {
        var comment = new Shauli.Models.Comment();
        comment.PostID = post.ID;

        @Html.HiddenFor(modelItem => comment.PostID);


        <div class="form-horizontal">
            @if (Session["UserID"] != null)
            {
                <h3>Comment</h3>
                <hr />

                <div class="form-group">
                    @Html.LabelFor(modelItem => comment.Title)
                    <div class="col-md-111">
                        @Html.EditorFor(modelItem => comment.Title)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(modelItem => comment.CommentContent)
                    <div class="col-md-111">
                        @Html.EditorFor(modelItem => comment.CommentContent)
                    </div>
                </div>

                <p><input type="button" class="submit-comment" value="Post comment" /></p>
            }
            else
            {
               <p> You need to be logged in if you want to comment.</p>
            }


        </div>
    }

}
            


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        $('.submit-comment').click(function () {
            _self = $(this).parents("form").eq(0).prev();
            $.post('@Url.Action("CreateComment","PostsToShow")', $(this).parents("form").eq(0).serialize(), function (data) {
                //add the comment to the list
                _self.append(data);
                //clean the form
                $('form').trigger('reset');
            })
        })
    })
</script>
