<!doctype html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("/Content/10.css")
    @Styles.Render("~/Content/style/blog.css")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <title>Ha-Blog Shel Shauli</title>
    
   

</head>
<body class="shaliBody">
   <div class="shauli">
       <div>
           
           <div id="dynamic-navbar">
               <script>
                   $(document).ready(function () {                      
                       $('#dynamic-navbar').removeClass("shaliBody");
                       $('#dynamic-navbar').removeClass("shauli");
                   });
               
               </script>
              
               <!--Navigation Bar-->
               <nav class="navbar navbar-inverse">
                   <div class="container-fluid">
                       <div class="navbar-header">
                           <a class="navbar-brand" href="/poststoshow/index">Shauli's Blog</a>
                       </div>
                       <ul class="nav navbar-nav">
                           <li>@Html.ActionLink("Home", "Index", "PostsToShow")</li>

                                @if (Session["Admin"] != null && Session["Admin"].ToString().Equals("True"))
                                {
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                            Admin Options
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Edit Posts", "Index", "Posts")</li>
                                            <li>@Html.ActionLink("Edit Acounts", "Index", "AccountsManager")</li>
                                            <li>@Html.ActionLink("Edit Fans", "Index", "Fans")</li>
                                        </ul>
                                    </li>
                                }
                                  </ul>
                       <ul class="nav navbar-nav navbar-right">
                           @if (Session["Username"] != null)
                           {
                               <li>
                                   @Html.ActionLink("Welcome " + Session["Username"] + "!", "Details", "Accounts", new { id = Session["UserID"] }, null)
                               </li>
                           }
                           else
                           {
                           <li><a href="/Accounts/Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                           <li><a href="/Accounts/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                           }
                       </ul>
                   </div>
               </nav>
           </div>
       </div>

       <div class="headline-music">
           <p>
               <canvas id="myCanvas" width="300" height="80"></canvas>
               <script>
                   var c = document.getElementById("myCanvas");
                   var ctx = c.getContext("2d");
                   ctx.font = "30px Arial";
                   ctx.fillText("Ha-Blog Shel Shauli", 10, 50);


                   $('#myCanvas').mouseenter(function () {
                       $(this).addClass('hover');
                       $(this).css({ cursor: 'pointer' });

                   });
                   $('#myCanvas').mouseleave(function () {
                       $(this).removeClass('hover');
                   });
                   $('#myCanvas').click(function () {
                         
                   });

               </script>
           </p>
           <p>
               <!-- Audio #Wasnt sure if I should hide it. since it background music.-->
               <!-- but it seem resonable to leave the option for the user to stop it-->
               <audio controls>
                   <source src="content/sound/Ookay-Thief.mp3" type="audio/mpeg">
                   <source src="content/sound/Ookay-Thief.ogg" type="audio/ogg">
                   Your browser does not support the audio element.
               </audio>
           </p>
       </div>
    <section id="intro">
        <!-- Introduction -->

        <header>
            <h2>Do you have questions for me?</h2>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
        <img src="~/content/images/intro_shauli.png" alt="Shauli" />
    </section>
    <!-- Search -->

    <!--DatePicker Jquery Script-->
       <script>
               $(function () {
                   $("#datepicker").datepicker().on("show", function () {
                       $(this).val("@ViewBag.DateFilter");
                   });
                   $("#datepicker").datepicker("option", "dateFormat", "dd-mm-yy");
                   $("#datepicker").datepicker("option", "showAnim", "slide");
                   $("#datepicker").val("@ViewBag.DateFilter");
                  });
       </script>
       </div>
    <div id="content">
        <div id="mainContent">
            @RenderBody()
        </div>
        <aside class="shauli-aside">
            <section>
                <header>
                    <h3>Categories</h3>
                </header>
                <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Sit amet consectetur</a></li>
                    <li><a href="#">Adipisicing elit sed</a></li>
                </ul>
            </section>
            <section>
                <header>
                    <h3>Archives</h3>
                </header>
                <ul>
                    <li><a href="#">December 2008</a></li>
                    <li><a href="#">January 2009</a></li>
                    <li><a href="#">February 2009</a></li>
                    <li><a href="#">March 2009</a></li>
                </ul>
            </section>
        </aside>
    </div>
    <footer>
        <!-- Footer -->
        <div>
            <section id="about">                
                    <h3>About</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut la</p>
            </section>
            <section id="blogroll">
                    <h3>Blogroll</h3>
                <ul>
                    <li><a href="#">NETTUTS+</a></li>
                    <li><a href="#">FreelanceSwitch</a></li>
                </ul>
            </section>
            <section id="popular">
                    <h3>Popular</h3>
                <ul>
                    <li><a href="#">This is the title of a blog post</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="#">Consectetur adipisicing elit, sed do eiusmod</a></li>
                </ul>
            </section>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
