@model IEnumerable<Shauli.Models.Fans>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<section id="search">
    <form>
        <p>
            <label>
                Search by BirthDate:<input type="text" name="birthdate" id="datepicker" placeholder="Birthdate" value="@ViewBag.DateFilter">
            </label>
            <label>
                <input type="text" name="firstName" placeholder="firstname" value="@ViewBag.FirstNameFilter">
            </label>
            <label>
                <input type="text" name="lastName" placeholder="lastname" value="@ViewBag.LastNameFilter">
            </label>
            <label>
                <input type="submit" value="Search">
            </label>
        </p>
        <p>
            @*Minimum comments:
                <input type="range" name="commentsNum" min="0" max="10" value="@ViewBag.CommentsNumFilter">*@

        </p>

    </form>
</section>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearsOfMemebership)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearsOfMemebership)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
