@model IEnumerable<Shauli.Models.Posts>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Posts</h2>
<section id="search">
    <form>
        <label>Search post according data contains in post or his comments:</label>
        <p>
            <label>
                Search by date:<input type="text" name="dateFilter" id="datepicker" value="@ViewBag.DateFilter">
            </label>
            <label>
                <input type="text" name="name" placeholder="Author name" value="@ViewBag.NameFilter">
            </label>
            <label>
                <input type="text" name="title" placeholder="title" value="@ViewBag.TitleFilter">
            </label>
            <label>
                <input type="text" name="text" placeholder="Free words content" value="@ViewBag.TextFilter">
            </label>
            <label>
                <input type="submit" value="Search">
            </label>
        </p>
    </form>
</section>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th>
            Comments Num
        </th>
            Comments Edit
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments.Count)
        </td>

        <td>@Html.ActionLink("Show Comments", "index", "Comments", new { pID = item.ID}, null)</td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
