@model IEnumerable<Shauli.Models.Posts>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Posts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AuthorURL)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PostContent)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoPath)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.AuthorURL)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.PostDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PostContent)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoPath)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
